.notebook-container {
  display: flex;
  justify-content: center;
}
.notebook-body {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.notebook-content {
  display: flex;
}
.notebook-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.group h1 {
  color: whitesmoke;
}
