.code-block {
  flex: 1;
  max-width: 50%;
  /* margin-top: 1px; */
}

#editor-container {
  background-color: #23241e;
  height: 50vh;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ql-snow {
  box-sizing: border-box;
}

.editorbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
