.code-block {
  flex: 1;
  max-width: 50%;
}

#editor-container {
  background-color: #23241e;
  max-height: 900px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
