.text-block {
  flex: 1;
  max-width: 50%;
}

#text-editor-container {
  background-color: #0c1117;
  max-height: 50vh;
}

.text-block .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.text-block .ql-toolbar .ql-fill {
  fill: #c8d1d9;
  stroke: none;
}

.text-block .ql-toolbar .ql-picker {
  color: #c8d1d9;
}

.ql-snow {
  box-sizing: border-box;
  color: white;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
  background-color: #0d1116;
}
