.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.penguinImage {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.backgroundImage {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.welcomeText {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.credits {
  margin-top: 1em;
}