body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: "frontend/src/media/codebookbackground.gif";
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #010409;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  background-image: url("../media/codebookbackground.gif");
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}
